{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<style>
</style>
<div>
<img src={{asset('media/background.jpg')}} width="1536px" height="639vh">
</div>
{% endblock %}